<footer class="text-center text-white bg-light" >
    <!-- Grid container -->
    <div class="container pt-4">
      <!-- Section: Social media -->
      <section class="mb-4">
        <!-- Facebook -->
        <a
          class="btn btn-link btn-floating btn-lg text-dark m-1"
          href="https://www.facebook.com/YoussefAgagg"
          target="_blank"
          role="button"
          data-mdb-ripple-color="dark"
          ><img src="../assets/facebook.png" alt="" width="30" height="30">
        </a>

        <a
          class="btn btn-link btn-floating btn-lg text-dark m-1"
          href="https://github.com/YoussefAgagg"
          target="_blank"
          role="button"
          data-mdb-ripple-color="dark"
          ><img src="../assets/GitHub.png" alt="" width="30" height="30">
        </a>
  
    
        <a
          class="btn btn-link btn-floating btn-lg text-dark m-1"
          href="https://www.linkedin.com/in/youssef-agagg/"
          target="_blank"
          role="button"
          data-mdb-ripple-color="dark">
          <img src="../assets/linkedin.png" alt="" width="30" height="30">
        </a>
 
      </section>
      <!-- Section: Social media -->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center text-dark p-3 " >
      © 2022 Copyright: Youssef Agagg
    </div>
    <!-- Copyright -->
  </footer>